.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn-danger {
  color: #fff;
  background-color: #557614;
}

.btn-warning {
  color: #ebf7f7fa;
  background-color: #1e5344;
}
.NavBar-welcome {
  color: #f1e1e5;
}
body {
  color: black;
}
.NavBar-welcome {
  color: rgb(27, 27, 233);
}
form {
  background-color: #09d3ac;
  display: inline-block;
}